html, *, *:before, *:after {
    box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body {
	position: relative;
}
.schema-box {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.schema-tools {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	min-height: 50px;
	padding: 0 20px;
}
.schema-tools i {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	cursor: pointer;
	opacity: 0.8;
	transition: all 0.2s ease;
}
.schema-tools i.active {
	color: #169148 !important
}
.schema-tools i:hover {
	opacity: 1;
}
.canvas-box {
	flex-grow: 1;
	position: relative;
    background-color: rgb(56, 56, 56);
    overflow: hidden;
}
.stickers {
    justify-content: space-around;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    padding: 13px;
    background: rgba(0, 0, 0, 0.7);
    overflow-y: auto;
    max-height: 264px;
    width: 100%;
    flex-wrap: wrap;
    transition: all 0.25s ease;
	display: none;
}
.stickers img {
    display: inline-block !important;
    margin: 13px;
    height: 38px;
    width: auto;
}
.ei-color-pick {
    position: absolute;
    top: 15px;
    left: calc(50% - 13px);
    width: 26px;
    height: 26px;
    background: linear-gradient(90deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
    z-index: 1;
    border-radius: 50%;
    border: 1px solid #fff;
    display: none;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.2s ease;
}
.ei-color-pick:hover {
	opacity: 0.8;
}
.edit-color:hover {
	opacity: 0.8;
}
.edit-color {
	display: inline-block;
	vertical-align: top;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	box-shadow: 0 0 0 1px #fff;
	cursor: pointer;
}
.size-slider-box {
	align-items: center;
	width: 140px;
	position: relative;
	left: calc(50% - 70px);
	position: absolute;
	bottom: 15px;
	z-index: 1;
	background: rgba(0,0,0,0.4);
	border-radius: 4px;

}
.size-slider-box input {
	position: relative;
	z-index: 1;
}
.slider-brush {
	width: 100%;
	height: 15px;
	background: black;
	-webkit-appearance: none;
	border-radius: 5px;
	background: transparent;
	outline: none;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
	--slider-size: 25px;
	--slider-color: #242424;
}
.slider-brush::-webkit-slider-runnable-track {
	background: transparent;
}
.slider-brush::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: var(--slider-color);
	cursor: pointer;
	z-index: 10;
	position: relative;
	box-shadow: 0 0 0 2px #fff;
}
.range-bg { 
	position: absolute;
	left: 5px;
	top: 3px;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent rgba(255, 255, 255, 0.9) transparent transparent;
	border-width: 5px 130px 4px 0;
	border-radius: 4px;
}
.paint-brushes {
	display: none;
}
.ei-color-panel {
	position: absolute;
	top: 56px;
	left: 0;
	display: none;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	z-index: 2;
	background: rgba(0, 0, 0, 0.4);
	height: 36px;
}
.ei-color-panel {
	display: none;	
}
.ei-bin {
	position: absolute;
	bottom: 10px;
	left: calc(50% - 20px);
	background: rgba(0, 0, 0, 0.4);
	color: #f77070;
	box-shadow: 0 0 0 1px #f77070;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	padding-bottom: 2px;
	display: none;
	align-items: center;
	/*display: flex;*/
	justify-content: center;
	transform: scale(1);
	transition: transform 0.2s ease;
}
.ei-bin-active {
	transform: scale(1.2);
}


.canvas-wrapper {
	background: white;
	position: absolute;
}

#slider-wrapper {
	display: none;
}