<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script src="index.js" type="text/javascript"></script>
	<script src="https://unpkg.com/fabric@5.2.1/dist/fabric.min.js"></script>
	<link rel="stylesheet" type="text/css" href="index.css"/>
</head>
<body>
	<div>
		<div>
			<button onclick="addText()">Add text</button>
			<button onclick="toggleStickers()">Stickers</button>
			<button onclick="toggleDrawingMode()">Drawing Mode</button>
			<button onclick="undo()">Undo</button>
			<button onclick="clearCanvas()">Clear</button>	
		</div>
		<div id="container">
			<div class="stickers"></div>
			<div class="paint-brushes">
				<div class="paint-color-wrapper">
					<span class="map-paint_btn" style="width: 30px" onclick="update_paint('#dfff30');" id="gCbrush1">
						<span style="background: #dfff30" [class.s_clr]="paint_color=='#dfff30'"></span>
					</span>
					<span class="map-paint_btn" style="width: 30px" onclick="update_paint('#242424');" id="gCbrush2">
						<span style="background: #242424" [class.s_clr]="paint_color=='#242424'"></span>
					</span>
					<span class="map-paint_btn" style="width: 30px" onclick="update_paint('#ff5151');" id="gCbrush3">
						<span style="background: #ff5151" [class.s_clr]="paint_color=='#ff5151'"></span>
					</span>
					<span class="map-paint_btn" style="width: 30px" onclick="update_paint('#169148');" id="gCbrush4">
						<span style="background: #169148" [class.s_clr]="paint_color=='#169148'"></span>
					</span>
					<span class="map-paint_btn" style="width: 30px" onclick="update_paint('#0000ff');" id="gCbrush5">
						<span style="background: #0000ff" [class.s_clr]="paint_color=='#0000ff'"></span>
					</span>
				</div>
				<div *ngIf="painting" class="actions-wrapper">
					<input onchange="changeBrushSize(event.target.value)" class="slider-brush" id="brush-slider" type="range" min="1" max="30" value="4">
					<div class="range-bg"></div>
				</div>
			</div>
			<div>
				<canvas id="canvas"></canvas>
				<div id="trash" class="delete-wrapper">
					<i class="icon-trash"></i>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html 
-->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script src="index.js" type="text/javascript"></script>
	<script src="https://unpkg.com/fabric@5.2.1/dist/fabric.min.js"></script>
	<link rel="stylesheet" type="text/css" href="index.css"/>
</head>
<body>
	<div class="switch">
		<div class="switch_in">
			<div class="sheme-tools">
				<i class="icon-chevron-left" onclick="backto();"></i>
				<div class="d-flex ai-c">
					<button onclick="addText()">Add text</button>
					<button onclick="toggleStickers()">Stickers</button>
					<button onclick="toggleDrawingMode()">Drawing Mode</button>
					<button onclick="undo()">Undo</button>
					<button onclick="clearCanvas()">Clear</button>	
				</div>
				<!-- <i class="mico cl-red" onclick="clear();">settings_backup_restore</i> -->
			</div>
		</div>
	</div>

	<div class="scroll-box">
		<!-- <div *ngIf="!loaded" class="inner-loader">
			<img src="assets/img/loading.svg" alt="">
		</div> -->

		<!-- stickers -->
		<div class="stickers"></div>

		<!-- paint or text color palette -->
		<span class="ei-color-pick paint-brushes">
			<button onclick="pickColor()">pick color</button>
		</span>

		<div class="ei-color-panel" onclick="event.stopPropagation();"></div>

		<!-- brush size slider -->
		<div class="size-slider-box" id="sliderWrapper">
			<input [(ngModel)]="brushSize" onchange="changeBrushSize(event.target.value)" class="slider-brush" id="brush-slider" type="range" min="1" max="30" value="4">
			<div class="range-bg"></div>
		</div>

		<div class="moi">
			<canvas id="canvas" #canva></canvas>
			<div [hidden]="!isTrashVisible" class="ei-bin">
				<i class="icon-trash"></i>
			</div>
		</div>
	</div>

	<style data="test" id="myStyle" type="text/css"></style>
</div>
</body>
</html 
